.todo-item {
	font-size: 24px;
	border: 2px solid #c5564a;
	min-height: 160px;
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0 16px 0 60px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background-color: white;
}

.description{
	display: none;
}

.todo-item:hover {
	min-height: 200px;
	transition: 0.9s;
}

.todo-item:hover .description{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-left: 15px;
	font-size: 21px;
}

.text_descr{
	font-size: 16px;
	font-family: 'Franklin Gothic Medium', sans-serif;
}

.text {
	font-family: 'Arial', sans-serif;
	font-size: 25px;
}

.completed {
	text-decoration: line-through;
}

.completed,
.fa-check-circle {
	color: #c5564a;
}

.fa-times {
	transition: all .3s ease;
	color: red;
}

.mark {
	position: absolute;
	left: 20px;
}

.todo-item:hover .fa-times {
	color: #c5564a;
}
